@import "normalize.css";

:root {
    --primary: red;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Courier New", Courier, monospace;
    color: var(--primary);
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
